snap/
.android/
.bash_history
.bashrc
.cache/
.cargo/
.config/
.dbus/
.gitconfig
.localxpose/
.npm/
.profile
.rustup/
.sudo_as_admin_successful
.synaptic/
.wget-hsts

zxy-CashFactory/node_modules
zxy-ipChangeServer/node_modules
zxy-proxyServer/node_modules
